services:
  general-controller:
    image: general-controller:latest
    pull_policy: never
    build:
      context: .
      dockerfile: ./Dockerfile
    container_name: general-controller
    restart: always
    volumes:
      - ~/.kube/config:/root/.kube/config:ro
    environment:
      - KUBECONFIG=/root/.kube/config
    network_mode: host
    command:
      - "http://prometheus.local"